.classes_grid {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 32px;
}

.skin1 {
  grid-area: 1 / 1 / 5 / 7;
}

.skin2 {
  grid-area: 1 / 7 / 6 / 10;
}

.skin3 {
  grid-area: 1 / 10 / 5 / 13;
}

.skin4 {
  grid-area: 5 / 1 / 9 / 4;
}

.skin5 {
  grid-area: 5 / 4 / 9 / 7;
}

.skin6 {
  grid-area: 6 / 7 / 9 / 10;
}

.skin7 {
  grid-area: 5 / 10 / 9 / 13;
}

@media (max-width: 1023px) {
  .classes_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);

    .skin1 {
      grid-area: 1 / 1 / 5 / 7;
    }

    .skin2 {
      grid-area: 5 / 1 / 10 / 4;
    }

    .skin3 {
      grid-area: 5 / 4 / 9 / 7;
    }

    .skin4 {
      grid-area: 10 / 1 / 14 / 4;
    }

    .skin5 {
      grid-area: 9 / 4 / 13 / 7;
    }

    .skin6 {
      grid-area: 14 / 1 / 17 / 4;
    }

    .skin7 {
      grid-area: 13 / 4 / 17 / 7;
    }
  }
}

@media (max-width: 639px) {
  .classes_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skin1 {
    width: 100%;
  }
}
