.ts_time_shot {
  color: var(--secondary);
}

.ts_day {
  color: var(--primary);
}

.ts_time {
  color: var(--primary);
}

.ts_divider {
  border-bottom: 1px solid #303439;
  width: 100%;
  height: 100%;
}
