.title {
  font-size: 2.1rem;
  font-weight: bold;
}
.text {
  font-size: 0.8rem;
  line-height: 23px;
  font-weight: 400;
}

.span {
  font-size: 0.8rem;
  line-height: 23px;
}

.title::selection,
.text::selection {
  color: var(--white);
  background: var(--secondary);
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.s {
  font-size: 0.8rem;
}

.m {
  font-size: 1rem;
  line-height: 28px;
}

.l {
  font-size: 1.2rem;
}

.xl {
  font-size: 2.1rem;
}

.dark {
  color: var(--white);
}

.white {
  color: var(--dark);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--white);
}

.Montserrat {
  font-family: "Montserrat";
}
.OpenSans {
  font-family: "Open Sans";
}

.color_primary {
  color: var(--primary);
}
.color_secondary {
  color: var(--secondary);
}

.color_dark {
  color: var(--dark);
}

.color_white {
  color: var(--white);
}
