.image-slider-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.slick-dots {
  position: static;
  color: var(--white);
}

.slick-dots li.slick-active button:before {
  color: var(--white);
}

.slick-dots li button:before {
  color: var(--white);
}
