.pr_wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.25rem;
  width: 100%;
}
.pr_divider {
  border-bottom-width: 1px;
  border-color: #424242;
}

.pr_chevron_right {
  color: var(--white);
}
