.skin {
  position: relative;
  padding: 2px;
  border: 1px solid #e4e4e4;
}

.skin_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.skin_title_wrapper {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  bottom: 50px;
  gap: 4px;
}

.skin_paragraph_wrapper {
  flex-direction: column;
  overflow: hidden;
  white-space: collapse balance;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;

  padding: 24px;

  transition: all 0.5s;

  &:hover {
    opacity: 1;
    z-index: 10;
  }
}

.skin_secondary {
  background-color: var(--secondary);
}

.skin_primary {
  background-color: var(--primary);
}

.skin_title {
  background-color: var(--dark);
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  color: var(--white);
}
