@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.app {
  --bg: #1a2327;
  --white: #ffffff;
  --dark: #1a1a1a;
  overflow: hidden;
  min-height: 100svh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Themes  ============================================== */
.red_green_theme {
  --secondary: #ff4739;
  --primary: #62dc42;
}

.orange_blue_theme {
  --secondary: #ff8519;
  --primary: #39c9ff;
}
.purple-yellow_theme {
  --secondary: #ffcc18;
  --primary: #8238e6;
}
.light-green-pink_theme {
  --secondary: #ff3984;
  --primary: #a1d909;
}
.turquoise-orange_theme {
  --secondary: #ff6f0f;
  --primary: #04dc83;
}

.dark-blue-dark-red_theme {
  --secondary: #f33346;
  --primary: #2f96ff;
}
/* ============================================================ */
