.footer_link {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  padding: 18px;
  background-color: #f4f4f4;
}

.footer_icon {
  fill: var(--primary);
}
.footer_link:hover .footer_icon {
  fill: var(--secondary);
}
