.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  width: 100%;
}

.footer_link {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  padding: 16px;
  background-color: #f4f4f4;
}

.footer_icon {
  fill: var(--primary);
}
.footer_link:hover .footer_icon {
  fill: var(--secondary);
}
